div.card-section {
	padding:20px;
	margin-left: auto;
	margin-right: auto;
}
div.second-row {
	margin-top: 10px;
}
div.col-md-3 {
	max-width: 32%;
}
/*button.bu1tton {
	position:absolute;
	bottom:3;
	left: 7;
	max-width: 96%
}*/
#link {
	color: black;
}

h1.banner-jumbo {
	background: rgb(5,171,224); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(5,171,224,1) 6%, rgba(83,203,241,1) 60%, rgba(135,224,253,1) 84%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(5,171,224,1) 6%,rgba(83,203,241,1) 60%,rgba(135,224,253,1) 84%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(5,171,224,1) 6%,rgba(83,203,241,1) 60%,rgba(135,224,253,1) 84%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05abe0', endColorstr='#87e0fd',GradientType=0 ); /* IE6-9 */ 
	}
.nav-bg {
	background: #b5bdc8; /* Old browsers */
	background: -moz-linear-gradient(top, #b5bdc8 0%, #828c95 36%, #28343b 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #b5bdc8 0%,#828c95 36%,#28343b 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #b5bdc8 0%,#828c95 36%,#28343b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
	}
div.index-header {
	padding-top: 0px;
	margin-bottom: 25px;
	background-color: lightgray;
}
hr.card-splitter {
	margin-top: 0px;
	margin-bottom: 10px;
}
